body {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  .Banner{
    width: 100%;
      height: auto;
  }
.header{
    color:aliceblue;
    font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    text-align: center;
    margin: 20px 80px 80px 40px;
    text-decoration: none;
  }  

form {
    width: 300px;
    margin: 0 auto;
}
input {
    width: 100%;
    margin-bottom: 10px;
}
footer {
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  .search-bar input {
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    border-color: #333;
    
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    color: #000000;
    border-color: #333;
    border-radius: 30px 30px 30px 30px;
  }
  
  .social-media a {
    color: #000000;
    margin-right: 0px;
  }
  
  .contact-info p {
    margin: 0px 0;
  }
  .menufooter{
    font-weight: 700;
    font-size: 90;
  }
  .textfooter {
    position: absolute; 
      bottom: 0; 
      left: 0; 
      margin: 0;
      margin-left: 20px; 
      padding: 0px;
      font-size: x-small;
      color:#494949
  }
 
  .user-image{
    width: 400px;
    height: 400px;
    border-radius: 70px 70px 70px 70px;
    margin-left: 100px;
  }
.cajitaimagen{
  float: left;
    width: 40%; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding: 30px;

}
  .usertext{
    position: relative;
    float: left;
    height: 360px;
    width: 35%; 
    padding: 40px;
    justify-content: flex-start;
    font-size: large;
     background-color: #4f0303;
     color: #D9D9D9;
     border-radius: 70px 70px 70px 70px;
     margin-top: 40px;
     line-height: 1.5;
  }
  .cajita{
  display: flex;
}
.edit-image-btn{
  padding: 10px;
  padding-bottom: 50px;
  margin-left: 290px;
  background: none;
  color:#a19f9f;
  border: none;
}
.text{
  margin:100px;
}
.change-email-btn{
  background: none;
  color:#a19f9f;
  border: none;
}
.change-password-btn{
  background: none;
  color:#a19f9f;
  border: none;
}
.settings-btn{
  background: none;
  color:#a19f9f;
  border: none;
  margin-left: 780px;
  margin-top: -75px;
  padding-bottom: 30px;
}
.botonimagen{
  background: none;
  color:#a19f9f;
  border: none;
}
.logout-btn{
  background: none;
  color:#a19f9f;
  border: none;
  margin-left: 1050px;
  margin-top: -53px;
  
  padding-bottom: 30px;
  
}
.botonsettings{
  background: none;
  color:#a19f9f;
  border: none;
}
.botonlogout{
  background: none;
  color:#a19f9f;
  border: none;
}
.imagenlogin{
  color:#fff
}
.info{
  background-color: #4f0303;
  border: none;
  color: #fff;
}